{% extends 'index/base.html' %}
{% load staticfiles %}

{% block title %}Becky B - Contact {% endblock %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" >
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">           
                <img src="{% static 'images/beckyb_logo.jpg' %}" width="30" height="30"  alt="">
            </a>
            <a class="navbar-brand" href="{% url 'index' %}">Becky B.</a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'our_story' %}">Our Story
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>

                      </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                        <span class="sr-only">(current)</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container">
    <form action="post">

        <input type="text" name="" id="" value="Say Hi To Us">
    </form>
</div>


{% endblock %}