{% extends 'index/base.html' %}

{% block title %}Becky B - Index Page {% endblock %}

{% block content %}

<!-- Header with Background Image -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-3 text-center text-white mt-4">Truly Yours, and Only</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4">What We Do</h2>
            <p>We are a strong lover for heels. The heels you wear speaks loudly about your character, thats why we came to the conclusion that commerically available heels are not enough.</p>
            <p>Hence it leads us to this idea of making our own customize heels, be it for special occasion, or daily use, as a woman you simply deserve better. And no one knows whats best for you other than you.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="#">Make Your Appointment  &raquo;</a>
            </p>
        </div>
        
        <div class="col-sm-4">
            <h2 class="mt-4">Contact Us</h2>
            <address>
                <strong>Beck B.</strong>
                <br>Some SOHO Address
                <br>Petaling Jaya, 49300
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                (123) 456-7890
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">name@example.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->
<!-- Swiper effect {body}-->
<div class='div-swiper-effect w3-topbar w3-bottombar w3-border-teal '>
    <h1 id='portfolio-h1' class='w3-center w3-jumbo'> Portfolio</h2>
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="imgBx"><img src="images/wedding_shoes.jpg" alt=""></div>
                <div class="details"><h3>Abu Bakar <br><span>booya</span></h3></div>
            </div>

            <div class="swiper-slide">
                <div class="imgBx"><img src="images/wedding_shoes.jpg" alt=""></div>
                <div class="details"><h3>Abu Bakar <br><span>booya</span></h3></div>
            </div>

            <div class="swiper-slide">
                <div class="imgBx"><img src="images/wedding_shoes.jpg" alt=""></div>
                <div class="details"><h3>Abu Bakar <br><span>booya</span></h3></div>
            </div>

            <div class="swiper-slide">
                <div class="imgBx"><img src="images/wedding_shoes.jpg" alt=""></div>
                <div class="details"><h3>Abu Bakar <br><span>booya</span></h3></div>
            </div>

            <div class="swiper-slide">
                <div class="imgBx"><img src="images/wedding_shoes.jpg" alt=""></div>
                <div class="details"><h3>Abu Bakar <br><span>booya</span></h3></div>
            </div>

            <div class="swiper-slide">
                <div class="imgBx"><img src="images/wedding_shoes.jpg" alt=""></div>
                <div class="details"><h3>Abu Bakar <br><span>booya</span></h3></div>
            </div>

            <div class="swiper-slide">
                <div class="imgBx"><img src="images/wedding_shoes.jpg" alt=""></div>
                <div class="details"><h3>Abu Bakar <br><span>booya</span></h3></div>
            </div>

            <div class="swiper-slide">
                <div class="imgBx"><img src="images/wedding_shoes.jpg" alt=""></div>
                <div class="details"><h3>Abu Bakar <br><span>booya</span></h3></div>
            </div>

            <div class="swiper-slide">
                <div class="imgBx"><img src="images/wedding_shoes.jpg" alt=""></div>
                <div class="details"><h3>Abu Bakar <br><span>booya</span></h3></div>
            </div>

            <div class="swiper-slide">
                <div class="imgBx"><img src="images/wedding_shoes.jpg" alt=""></div>
                <div class="details"><h3>Abu Bakar <br><span>booya</span></h3></div>
            </div>
            
            

        </div>

    <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>

    <div class="row">
        <div class="col-sm-3 my-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                <h4 class="card-title">Step 1</h4>
                <p class="card-text">Get in touch with us, or drop us a message to make an appointment today.</p>
                </div>
                <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 my-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Step 2</h4>
                        <p class="card-text">Get your feet measurement accurately by our professional, and get in depth into your desired design and customization.</p>
                    </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 my-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Step 3</h4>
                    <p class="card-text">Finalize on the design draft, put up the finishing touch and your dream design will be on its way.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 my-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Step 4</h4>
                    <p class="card-text">Receive your one and only beloved new heels.  </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}